@import "tailwindcss";

@theme {
  --animate-rotate-up: rotate-up 0.1s;
  --animate-rotate-down: rotate-down 0.1s;

  @keyframes rotate-up {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes rotate-down {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

body {
  background-color: #002a61;
}
