* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.landing-button {
  border-style: none;
  background-color: transparent;
  font-size: 24px;

  border: 1px solid;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  user-select: none;
  cursor: pointer;
}

.landing-button:hover {
  background-color: blue;
}

.landing-gc-text-field,
.landing-un-text-field {
  height: 40px;
  width: 180px;
  text-align: center;
}
.landing-gc-text-field {
  font-size: 36px;
}

.landing-un-text-field {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.landing-input-feedback {
  height: 16px;
}

/**  LOBBY STYLES **/

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-footer-container {
  display: flex;
  margin: 50px;
  gap: 50px;
}

.lobby-btn {
  all: unset;
  cursor: pointer;
  background-color: blanchedalmond;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.lobby-btn:hover {
  background-color: blue;
}

.lobby-game-code-display {
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.lobby-game-code-hint {
  height: 16px;
  margin: 5px;
  text-align: center;
}

.lobby-main-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1000px;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}

.lobby-players-list {
  border: 5px solid rgb(117, 107, 105, 0.5);

  border-radius: 20px;
  padding: 5px;
}

.lobby-players-list li {
  margin: 5px 5px 5px 5px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: gray;

  border-radius: 10px;
  padding: 0 5px 0 5px;
}

.lobby-roles-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-roles-container h3 {
  text-align: center;
}

.lobby-roles-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid black;
}

.role-item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.role-remove {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  visibility: hidden;
}

.role-item:hover > .role-remove {
  visibility: visible;
}

.role-item img {
  height: 50px;
  width: 50px;
}

.role-item-name {
  font-size: 18px;
}

.role-item-allegiance {
  margin-top: -10px;
  font-size: 14px;
}

.role-mafia {
  color: red;
}

.role-town {
  color: green;
}

.role-neutral {
  color: gray;
}

.lobby-roles-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.lobby-roles-add-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.player-list-item {
  position: relative;
  display: flex;
  width: 150px;
}

.player-list-settings {
  all: unset;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

/** Leave Modal */

.leave-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leave-modal-btn-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.leave-modal-btn {
  all: unset;
  cursor: pointer;
  background-color: red;
  width: 80px;
  padding: 5px 0 5px 0;
  text-align: center;
  border-radius: 20px;
}

/** Role Modal */
.role-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.role-modal-container h3 {
  position: relative;
}

.modal-close-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.role-modal-content h4 {
  font-size: 18px;
}

.role-modal-content ul {
  list-style: none;
}

.role-modal-content ul li {
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.role-add-icon {
  position: absolute;
  right: 10px;
  visibility: hidden;
}

.role-modal-content ul li:hover {
  border-color: rgb(0, 0, 0, 0.5);
}

.role-modal-content ul li:hover > .role-add-icon {
  visibility: visible;
}
